<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.asus.movinguplms">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity" />
        <activity android:name=".LoginSignupMenuActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Menu"
            android:theme="@style/MainTheme" />
        <activity android:name=".RegisterUserActivity" />
        <activity android:name=".CreateUserProfileActivity" />
        <activity android:name=".LearnActivity" />
        <activity android:name=".LearnSHSTracksActivity" />
        <activity android:name=".LearnAcademicStrandsAcivity" />
        <activity android:name=".DiscoverActivity" />
        <activity android:name=".DiscoverSchoolsOnListActivity" />
        <activity android:name=".DiscoverSchoolsOnMapsActivity" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBipFR3oX7tAbPfYrL4GIZ-PdDBQ3AK_Yw" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat" />
        <activity
            android:name=".SHSSchoolMapsActivity"
            android:label="@string/title_activity_school_search_map" />
        <activity android:name=".DiscoverSchoolsSearchActivity" />
        <activity android:name=".DiscoverSchoolContentActivity"></activity>
    </application>

</manifest>